background_color #282828
custom_background_color #282828
custom_text_color #ebdbb2
dark_mode_background_color #282828
highlight_color_a #d79921
highlight_color_b #98971a
highlight_color_c #458588
highlight_color_d #cc241d
highlight_color_e #b16286
highlight_color_f #d65d0e
highlight_color_g #d79921
link_highlight_color #458588
search_highlight_color #d79921
startup_commands toggle_custom_color
status_bar_color #3c3836
status_bar_text_color #ebdbb2
synctex_highlight_color #98971a
text_highlight_color #d79921
ui_background_color #3c3836
ui_selected_background_color #504945
ui_selected_text_color #ebdbb2
ui_text_color #ebdbb2
visual_mark_color #504945
